.DataTable {
  table-layout: fixed;
  width: 100%;
  max-width: 700px;
}

.TableHead {
  text-align: center;
}

.TableNumber {
  text-align: right;
  padding-left: 2%;
  padding-right: 2%;
}

.TableName {
  text-align: left;
}

.InputBox {
  max-width: 150px;
  width: 20%;
}
